<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Local value -->
    <property name="LOG_FOLDER" value="./logs"/>

    <!-- Appenders -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FOLDER}/trainingtool-syslog-logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER}/trainingtool-syslog-logback-%d{yyyy-MM-dd}_%i.log.gz</fileNamePattern>
            <!-- each file should be at most 100MB, keep 5 days worth of history, but at most 200MB -->
            <maxHistory>5</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Loggers -->
    <logger name="org.jorion.trainingtool" level="DEBUG"/>

    <logger name="org.springframework.web" level="INFO"/>

    <logger name="org.springframework.security" level="INFO"/>

    <logger name="org.springframework.security.ldap" level="INFO"/>

    <logger name="org.springframework.data" level="INFO"/>

    <logger name="org.h2" level="INFO"/>

    <!-- Root -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>