<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: header">
    <title id="pageTitle" th:text="#{common.title}">Training Tool</title>
</head>

<body class="login">
<div th:replace="fragments/layout :: empty-nav"></div>

<main role="main">
    <!-- lower main div below the fixed menu bar -->
    <div class="jumbotron upper-space">
        <div class="container"></div>
    </div>

    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 box-login">
                <form id="frmLoginId" method="post" name="f" th:action="@{/login}">
                    <fieldset>
                        <h2 class="text-center" style="margin-bottom: 0.5em; font-weight: normal; font-family: Arial;">
                            Welcome</h2>
                        <div class="alert alert-danger" th:if="${param.error}">
                            Invalid username and/or password. <br/> Do <b>not</b> use your email address.
                        </div>
                        <div class="form-group">
                            <div class="form-row no-side-margin">
                                <span>Username</span>
                            </div>
                            <div class="form-row no-side-margin	">
                                <input autocomplete="username" class="form-control" id="usernameId" name="username"
                                       placeholder="hari.seldon (or seldonh)" required type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row no-side-margin">
                                <span>Password</span>
                            </div>
                            <div class="form-row no-side-margin">
                                <input autocomplete="current-password" class="form-control" id="passwordId" name="password"
                                       required type="password"/>
                                <a class="msg-info" href="#" id="btnPasswordId" role="button">show password</a>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-md btn-primary btn-block" id="loginBtnId" type="submit">Login
                            </button>
                        </div>
                        <div class="text-center" th:with="mail=${@environment.getProperty('app.mail.address.support')}">
                            Technical question? Contact us at
                            <a style="color: white; font-style: italic;" th:href="'mailto:'+${mail}"><span
                                    th:text="${mail}"></span></a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</main>

<script type="text/javascript">
		$(function() {
			// IE is not supported. Use Chrome or Edge
			var ie11 = !!window.MSInputMethodContext && !!document.documentMode;
			if (ie11) {
				$("#loginBtnId").prop('disabled', true);
				$("#loginBtnId").text('Login disabled for IE 11')
			}
			$('#btnPasswordId').on("click", togglePassword);
			$('#frmLoginId').on("submit", function (e) {
				var username = $('#usernameId').val().toLowerCase();
				$('#usernameId').val(username);
				return true;
			});
		})
		
		function togglePassword() {
			var field = document.getElementById('passwordId')
			var btn = document.getElementById('btnPasswordId');
			if (field.type === 'password') {
				field.type = 'text';
				btn.textContent = 'hide password';
			}
			else {
				field.type = 'password';
				btn.textContent = 'show password';
			}
			return false;
		}

</script>
</body>

</html>