<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/layout :: header">
<title id="pageTitle" th:text="#{common.title}">Report</title>
</head>

<body>
	<div th:replace="fragments/layout :: menu-nav"></div>

	<main role="main">
		<!-- lower main div below the fixed menu bar -->
		<div class="jumbotron upper-space">
			<div class="container"></div>
		</div>

		<div class="container">

			<!-- Selection Criteria -->
			<div class="row">&nbsp;</div>
			<div class="border">
			<div class="row">
				<div class="col-md-12">
					<h4>Registration requests</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					Manager will find here the registrations of the members they are responsible for.
					HR and Training teams will see all registrations. 
				</div>
			</div>
			
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="col-md-12">
					<form th:action="@{/selectReport}" th:object="${report}" method="get">
						<fieldset>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="lastname">Lastname</label> 
									<input type="text" class="form-control" th:field="*{lastname}" placeholder="Lastname" maxlength="50">
								</div>
								<div class="form-group col-md-4">
									<label for="lastname">Start date after</label> 
									<input type="date" class="form-control" th:field="*{startDate}" placeholder="" min="2020-01-01">
								</div>
								<div class="form-group col-md-4">
									<label for="lastname">Status</label> 
									<select class="form-control" th:field="*{status}" >
										<option selected value="">-- select a status --</option>
										<option th:each="elem : ${T(org.jorion.trainingtool.types.RegistrationStatus).values()}" 
												th:value="${elem.name}" th:text="${elem.title}">-</option>
									</select>
								</div>
							</div>
						</fieldset>
						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-outline-primary">Filter</button>
								&nbsp;
								<a th:href="@{/report}" type="button" class="btn btn-outline-primary">Reset</a>
								&nbsp;
								<a href="" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exportModal">Export to CSV</a>
								&nbsp;
								<a th:href="@{/}" type="button" class="btn btn-outline-info">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			</div>
			<div class="row small">&nbsp;</div>
			
			<!-- Registered Trainings -->
			<div class="row border">
				<div class="col-md-12">
					<table class="table table-hover table-sm">
						<thead class="thead-dark">
							<tr>
								<th>Member</th>
								<th>Title</th>
								<th>Creation Date</th>
								<th>Start Date</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${registrations.empty}">
								<td colspan="5">No training request found</td>
							</tr>
							<tr th:each="reg : ${registrations}">
								<td><span th:text="${reg.member.fullname}" th:title="${reg.member.username}"> Member </span></td>
								<td><a th:href="@{/registration(id=${reg.id})}"> <span th:text="${reg.title}"> Title </span></a></td>
								<td><span th:text="${#temporals.format(reg.createdOn, 'yyyy-MM-dd HH:mm')}"> CreationDate </span></td>
								<td><span th:text="${#temporals.format(reg.startDate, 'yyyy-MM-dd HH:mm')}"> StartDate </span></td>
								<td><span th:text="${reg.status.title}"> Status </span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-12">
					Number of requests found: <span th:text="${registrations.totalElements}">-</span>
				</div>
				
			</div>
		</div>
		<div th:replace="fragments/paginator :: paginator-registrations (mylink='report')"></div>
		
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
	</main>
	
	<!-- Export -->
	<div class="modal fade" id="exportModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<span>Export training requests to CSV</span>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<span>Export the selected trainings to a CSV file ?</span>
				</div>
				<div class="modal-footer">
					<a href="" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a> 
					<input id="exportReportUrl" type="hidden" th:value="@{/exportReport}" />
					<a href="#" onclick="exportToCsv();" type="button" class="btn btn-primary" > 
						<span>Export</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		function exportToCsv() {
			$("#exportModal").modal('hide');
			var link = document.getElementById('exportReportUrl').value;
			window.location.href = link;
		}
	</script>

	<div th:replace="fragments/layout :: footer"></div>
</body>

</html>