<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<p>
		Hello <span th:text="${recipient}"> recipient </span>,
	</p>
	<p>
		We would like to inform you that a training request was sent back to you by <span th:text="${dto.actorName}"></span>. 
		Could you please review the request and complete/correct it as requested? Then you can submit it again.
	</p>
	<p>
		<span><b>Request title</b></span>: <span th:text="${dto.regTitle}"></span><br /> 
		<span><b>Request current status</b></span>: <span th:text="${dto.regStatus.title}"></span><br /> 
		<span><b>Request link</b></span>: <a th:href="${reqLink}" target="_blank">Click here</a>. 
		You need to be connected to the network to access it.
	</p>
	<p>
		<b>Motivation</b>: <span th:text="${dto.regMotivation}"></span><br> 
	</p>	
	<p>&nbsp;</p>
	<div>
		<span>The TrainingTool application</span><br />
		<span><em>Please do not reply to this message.</em></span>
	</div>
</body>

</html>